.bg-header {
    background-color: #29BE77
}

.btn-lg.round {
    border-radius: 24px
}

.carakerja {
    position: relative;
    background-color: #59bebd;
    /* background: url("../img/bg-mashead.jpg") no-repeat center center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 1rem;
    padding-bottom: 8rem; 
}

.statistik {
    position: relative;
    background-color: #ffffff;
    /* background: url("../img/bg-mashead.jpg") no-repeat center center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 1rem;
    padding-bottom: 8rem; 
}

.berita {
    position: relative;
    background-color: #ffffff;
    /* background: url("../img/bg-mashead.jpg") no-repeat center center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 1rem;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: transparent;
  }

.green {
    color:#29BE77
}

.white {
    color: white
}

p.footer {
    position: relative;
    top: 9rem;
}